canvas{
/*   border: 1px solid gray; */
  margin: 0px 10px 0px 10px;
}
button1{
  width: 100px;
  height: 100px;
}
button2{
  width: 50px;
  height: 40px;
}
#contents{
  width: 100%;
  text-align: center;
}
#eraser{
/*   text-align: right; */
  margin-right: 10px;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  justify-content: center;
  align-items: center;
  border: 3px #c6ffff;
  background: #eaffff
}
