canvas{
/*   border: 1px solid gray; */
  margin: 0px 10px 0px 10px;
}
button1{
  width: 100px;
  height: 100px;
}
button1-2{
  width: 100px;
  height: 100px;
}
button2{
  width: 50px;
  height: 40px;
}
#contents{
  width: 100%;
  text-align: center;
}
#eraser{
/*   text-align: right; */
  margin-right: 10px;
}
.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  justify-content:space-around;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  justify-content: center;
  align-items: center;
  border: 3px;
  border-color: #b7ffff;
  background-color: #f7efff;
}
h1{
	padding-top: 3rem;
	padding-bottom: 3.5rem;
  background-color: #efffff;
}
h2{
	padding-top: 3rem;
	padding-bottom: 3.5rem;
  background-color: #ffffd1;
}
