canvas{
/*   border: 1px solid gray; */
  margin: 0px 10px 0px 10px;
}
button1{
  width: 150px;
  height: 150px;
}
button2{
  width: 50px;
  height: 40px;
}
#contents{
  width: 750px;
  text-align: center;
}
#eraser{
  text-align: right;
  margin-right: 10px;
}
.flex-container {
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-item {
padding: 10px; /* flex アイテムの余白を指定する */
margin: 10px; /* flex アイテムの余白を指定する */
border:2px solid #FF9696; /* flex アイテムの境界線を実線で指定する */
}
